name: Deploy to Production

on:
  workflow_dispatch:  # Déclenchement manuel via l'interface GitHub

jobs:
  deploy:
    runs-on: ubuntu-latest  # Utilisation d'un runner Ubuntu pour exécuter les actions

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Cette action permet de récupérer le code source du dépôt

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3  # Utilise l'action ssh-agent pour configurer la clé SSH
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}  # Charge ta clé privée SSH depuis les secrets GitHub

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no u613785471@195.200.13.4 "
            cd /home/u613785471/domains/schoolsoutien.com/public_html/schoolProject &&
            git pull origin main &&
            npm install &&
            npm run build"
