name: Deploy to Production

on:
  workflow_dispatch:  # Déclenchement manuel via l'interface GitHub

jobs:
  deploy:
    runs-on: ubuntu-latest  # Utilisation d'un runner Ubuntu pour exécuter les actions

    steps:
      - name: Checkout code
        uses: actions/checkout@v2  # Cette action permet de récupérer le code source du dépôt

      - name: Install sshpass
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass  # Installer sshpass pour automatiser la saisie du mot de passe

      - name: Deploy to server
        run: |
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -p 65002 u613785471@195.200.13.4 "
            cd /home/u613785471/domains/schoolsoutien.com/public_html/schoolProject && 
            git pull origin main
          "

    # Si tu veux définir une variable d'environnement
    env:
      SSH_PASSWORD: "ABCd@@123456*."  # Injections directes du mot de passe pour tester




